
 <h1 class="p-3"><%= @task.title %></h1>

<p class="p-2 ms-3 fs-5"><%= @task.details %></p>
<ul class="list-unstyled d-flex gap-2 p-3">
  <li>
    <%= link_to "Back to Tasks", tasks_path, class: "text-decoration-none btn btn-primary mt-1"%>
  </li>
  <li>
    <%= link_to "Edit task", edit_task_path(@task), class: "text-decoration-none btn btn-primary mt-1" %>
  </li>
  <li>
    <%= link_to "Delete",
            task_path(@task),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: "text-decoration-none btn btn-primary mt-1" %>
  </li>
</ul>
